body,
body * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

#banner {
    display: block;
    margin: auto;
}

colors{47FF5A, 83148F}
