body,
body * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

#banner, 
#smallLogo,
#introPhoto {
    display: block;
    margin: auto;
}

nav {
    display: inline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #337357;
}

nav li {
    float: left;
    margin: 0px 60px;
}

nav li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    text-shadow: black 0.1em 0.1em 0.2em;
}

nav li a:hover {
    background-color: #111;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: xx-large;
    margin: 10px 20px;
}

h2 {
    margin: 10px 40px;
    font-size: 20px;
}

p {
    margin: 10px 40px 40px;
    line-height: 35px;
    text-indent: 25px;
}
