body,
body * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

#banner, 
#smallLogo {
    display: block;
    margin: auto;
}

nav {
    display: inline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #337357;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


